.contacts {
  text-align: center;
}
.contacts__items-container {
  padding-left: 44px;
  padding-right: 39px;
}
.contacts__header {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}
.contacts__item-header {
  display: block;
  color: #283645;
  font-size: 18px;
  font-weight: 700;
}
.contacts__item {
  display: block;
  margin-bottom: 27px;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}
