.form-group--bg-grey {
  background-color: #f3f3f3;
}
.form-group__checkbox-promo {
  background-color: #f3f3f3;
}
.form-group__promo {
  color: #283645;
  font-weight: 400;
  line-height: 30px;
}
.form-group__label-title {
  color: #d22856;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.form-group__label-input {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.form-group__checkbox-promo {
  color: #d22856;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.form-group__checkbox-title {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.form-group__radio-promo {
  color: #d22856;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.form-group__radio-title {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.form-group__textarea-title {
  color: #d22856;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.form-group__textarea-input {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.form-group__submit-btn {
  background-color: #26ac6e;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
