.page-header {
  background-color: #243344;
}
.page-header__title {
  width: 230px;
  padding-top: 102px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  backgroun-position: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.page-header__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
