.popup__header {
  display: block;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 28px;
  text-align: center;
  margin: 0 auto;
  line-height: 24px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
.popup__info {
  padding: 0 20px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 24px;
  color: @contacts-text;
  font-weight: 400;
}
.popup-btn {
  width: 280px;
  padding: 17px 0;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background: @btn-form-submit;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.popup__btn-wrapper--success {
  padding-top: 48px;
  padding-left: 20px;
  height: 163px;
  box-sizing: border-box;
  background-color: @form-bg-grey;
}
.popup__btn-wrapper--error .popup-btn {
  margin-bottom: 50px;
  margin-left: 20px;
}
