.promo__description {
  background-color: @form-bg-grey;
}
.promo__header-text {
  color: @contacts-text;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
}
.promo__thesis-wrapper {
  padding-left: 33px;
  padding-right: 33px;
}
.promo__thesis-wrapper:nth-child(3) {
  padding-left: 24px;
  padding-right: 24px;
}
.promo__description {
  font-family: "Open Sans";
  line-height: 24px;
  text-align: center;
}
.promo__thesis-header {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
.promo__thesis-text {
  color: @contacts-text;
  font-size: 14px;
  font-weight: 400;
}
