.promo {
  position: relative;
  z-index: 5;
}
.promo__description {
  padding-top: 51px;
  padding-bottom: 286px;
  background: linear-gradient(170deg, transparent 10%, @bg-photo-form 10%);
  background-size: 100%;
  font-family: "Open Sans";
  line-height: 24px;
  text-align: center;
}
.promo__header-text {
  color: @contacts-text;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.promo__thesis-wrapper {
  padding-left: 33px;
  padding-right: 33px;
}
.promo__thesis-wrapper:nth-child(3) {
  padding-left: 24px;
  padding-right: 24px;
}
.promo__thesis-header {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
.promo__thesis-text {
  color: @contacts-text;
  font-size: 14px;
  font-weight: 400;
}
.promo::after {
  content: "";
  width: 157px;
  height: 320px;
  position: absolute;
  left: 82px;
  bottom: -33px;
  background-image: url(../img/iphone-screen-mobile@1x.png);
}
